name: CD Pipeline

on:
    push:

env:
    NODE_VERSION: '20.x'

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Setup Node.js ${{ env.NODE_VERSION }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ env.NODE_VERSION }}
            - name: Lint & Format checks
              run: |
                  npm ci
                  npm run lint
                  npm run format
            - name: Build
              run: |
                  npm run build
              env:
                  LITERAL_API_TOKEN: ${{ secrets.LITERAL_API_TOKEN }}
                  LITERAL_PROFILE_ID: ${{ secrets.LITERAL_PROFILE_ID }}
                  LITERAL_PROFILE_HANDLE: ${{ secrets.LITERAL_PROFILE_HANDLE }}

    test:
        name: Test
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Run E2E tests
              uses: cypress-io/github-action@v6
              with:
                  build: npm run build
                  start: npm start
                  wait-on: http://localhost:3000
              env:
                  LITERAL_API_TOKEN: ${{ secrets.LITERAL_API_TOKEN }}
                  LITERAL_PROFILE_ID: ${{ secrets.LITERAL_PROFILE_ID }}
                  LITERAL_PROFILE_HANDLE: ${{ secrets.LITERAL_PROFILE_HANDLE }}

    deploy-preview:
        name: Deploy to preview
        needs: [build, test]
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'
        env:
            VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
            VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
        environment:
            name: preview
            url: ${{ steps.deploy.outputs.url }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Setup Node.js ${{ env.NODE_VERSION }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ env.NODE_VERSION }}
            - name: Install Vercel CLI
              run: npm install --global vercel@latest
            - name: Pull Vercel Environment Information
              run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
            - name: Build Project Artifacts
              id: build
              run: vercel build --token=${{ secrets.VERCEL_TOKEN }}
              env:
                  LITERAL_API_TOKEN: ${{ secrets.LITERAL_API_TOKEN }}
                  LITERAL_PROFILE_ID: ${{ secrets.LITERAL_PROFILE_ID }}
                  LITERAL_PROFILE_HANDLE: ${{ secrets.LITERAL_PROFILE_HANDLE }}
            - name: Deploy Project Artifacts to Vercel
              id: deploy
              run: |
                  vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }} > preview-deployment-url.txt
                  deployment_url=$(cat preview-deployment-url.txt)
                  echo "url=$deployment_url" >> $GITHUB_OUTPUT
                  cat preview-deployment-url.txt
            - name: Upload artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: preview-deployment-url
                  path: preview-deployment-url.txt

    check-performance:
        name: Check performance
        needs: deploy-preview
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'
        environment:
            name: preview

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Download preview deployment URL
              uses: actions/download-artifact@v4
              with:
                  name: preview-deployment-url
            - name: Run with Node.js ${{ env.NODE_VERSION }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ env.NODE_VERSION }}
            - name: Check performance with Lighthouse
              run: |
                  deployment_url=`cat preview-deployment-url.txt`
                  npm i -g @lhci/cli@latest
                  npm run performance:check -- $deployment_url
              env:
                  LHCI_GITHUB_TOKEN: ${{ secrets.LHCI_GITHUB_TOKEN }}

    deploy-prod:
        name: Deploy to prod
        needs: deploy-preview
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'
        env:
            VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
            VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
        environment:
            name: production

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Setup Node.js ${{ env.NODE_VERSION }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ env.NODE_VERSION }}
            - name: Install Vercel CLI
              run: npm install --global vercel@latest
            - name: Pull Vercel Environment Information
              run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
            - name: Build Project Artifacts
              run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}
              env:
                  LITERAL_API_TOKEN: ${{ secrets.LITERAL_API_TOKEN }}
                  LITERAL_PROFILE_ID: ${{ secrets.LITERAL_PROFILE_ID }}
                  LITERAL_PROFILE_HANDLE: ${{ secrets.LITERAL_PROFILE_HANDLE }}
            - name: Deploy Project Artifacts to Vercel
              run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
